body {
  background-color: rgb(218, 178, 102);
}

.words-box {
  margin: 0 auto;
  display: flex;
}

.words-box-cell {
  width: 100px;
  padding: 1%;
  transition: 0.5s;

  background-color: rgb(255, 255, 255);
}

.word {
  font-size: 1.5em;
  transition: 0.5s;
  user-select: none;
}

.word:hover {
  cursor: grab;
}

.result-box {
  padding: 1%;
  background-color: #e5aa2aa1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.result-row {
  margin: 5px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.result-row-cell {
  margin: 2px;
  width: 10%;
  height: 40px;
  background-color: white;
}

.drop-hover {
  background-color: pink;
}
