html {
  font-size: 14px;
}

:root {
  --text: white;
  --disabled-text: #eee;
  --dusty-rose: #db8b87;
  --disabled-button: #ccc;
  --active-users: #b840053b;
  --inactive-users: #94593b3b;
}


.app {
  margin: 0 auto;
  padding: 2%;
  background-color: var(--dusty-rose);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  margin: 1%;
  display: flex;
  justify-content: center;
}

.auth-form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.project-description {
  padding: 2%;
  font-size: calc(1vw + 1vh + 2vmin);
  letter-spacing: 0.4px;
}

.author-block-wrapper {
  width: 15em;
  height: 20em;
}

.author-block {
  width: 100%;
  height: 100%;
  background-image: url('src/assets/img/kate.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login, .logout {
  padding: 1%;
  width: 30%;
  background-color: var(--dusty-rose);
  transition: 1s;
}



.login:hover, .logout:hover {
  cursor: pointer;
  background-color: var(--text);
  color: var(--dusty-rose);
  transition: 1s;
}

.login:disabled, .logout:disabled {
  background-color: var(--disabled-button);
  color: var(--disabled-text);
  cursor: not-allowed;
}


.school-logo {
  width: 13%;
  height: 50px;
  background-image: url('src/assets/img/logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.active-users {
  margin: 2% 0;
  width: 30%;
  min-height: 20px;
  background-color: var(--active-users);
  border: 1px solid var(--disabled-button);
  user-select: none;
}

.inactive-users {
  margin: 2% 0;
  width: 30%;
  min-height: 20px;
  background-color: var(--inactive-users);
  border: 1px solid var(--disabled-button);
  user-select: none;

}

.active-user,.inactive-user {
  padding: 0 2%;
  border: 1px solid var(--dusty-rose);
  transition: 1s;

}
.active-user:hover, .inactive-user:hover {
  background-color: var(--disabled-text);
  cursor: pointer;
  transition: 1s;
}

@media(min-width: 300px){
  html {
    font-size: 12px;
  }
}

@media(min-width: 600px){
  html {
    font-size: 16px;
  }
}




@media(min-width: 800px){
  html {
    font-size: 20px;
  }
}
